:root {
  --nat-navbar-bg: red;
  --nat-navbar-bg-color: red;
  --nat-varbar-highlight-text: white;
  --nat-navbar-text-highlight: white;
  --nat-navbar-bg-rgb: 255, 0, 0;
  --nat-navbar-text-color: white;
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/motorcycles.png");
  background-size: cover;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}